trigger:
  branches:
    include:
    - main
    - feature/*

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  dotnetVersion: '8.0.x'

steps:
- task: UseDotNet@2
  inputs:
    version: $(dotnetVersion)
    includePreviewVersions: false

- task: DotNetCoreCLI@2
  displayName: 'Restore NuGet packages'
  inputs:
    command: 'restore'
    projects: '$(solution)'

- task: DotNetCoreCLI@2
  displayName: 'Build PrintPlayset and PrintPlaysetLauncher'
  inputs:
    command: 'build'
    projects: |
      **/PrintPlayset.csproj
      **/PrintPlaysetLauncher.csproj
    arguments: '--configuration $(buildConfiguration)'

- task: PowerShell@2
  displayName: 'Install WiX Toolset build tools'
  inputs:
    targetType: 'inline'
    script: |
      dotnet tool install --global wix
      
- task: MSBuild@1
  displayName: 'Build Setup with WiX Toolset'
  inputs:
    solution: '**/printplayetsetup.wixproj'
    msbuildArchitecture: 'x64'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: CopyFiles@2
  displayName: 'Copy Setup to Artifact Staging'
  inputs:
    Contents: '**/bin/$(buildConfiguration)/**/setup.exe'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'
    flattenFolders: true

- task: PublishBuildArtifacts@1
  displayName: 'Publish Setup Artifact'
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'Setup'

- task: PowerShell@2
  displayName: 'Create GitHub Release'
  inputs:
    targetType: 'inline'
    script: |
      $token = "$(GithubPAT)"
      $headers = @{
        Authorization = "token $token"
        Accept = "application/vnd.github.v3+json"
      }
      
      $version = "v1.0.$(Build.BuildId)"
      $releaseData = @{
        tag_name = $version
        target_commitish = "$(Build.SourceVersion)"
        name = "Release $version"
        body = "Automated release from Azure Pipeline build $(Build.BuildId)"
        draft = $false
        prerelease = $false
      }
      
      $releaseJson = $releaseData | ConvertTo-Json
      
      # Create the release
      $release = Invoke-RestMethod -Uri "https://api.github.com/repos/MarcSchuermann/MTG-playset-printer/releases" -Method Post -Headers $headers -Body $releaseJson
      
      # Upload the asset
      $uploadUrl = $release.upload_url -replace "\{\?.*\}", ""
      $setupPath = "$(Build.ArtifactStagingDirectory)/setup.exe"
      
      $headers["Content-Type"] = "application/octet-stream"
      Invoke-RestMethod -Uri "$uploadUrl`?name=setup.exe" -Method Post -Headers $headers -InFile $setupPath
