parameters:
- name: createRelease
  type: boolean
  default: false
  displayName: 'Create GitHub Release'

trigger:
  branches:
    include:
    - main
    - feature/*

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.slnx'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  dotnetVersion: '9.0.200'

steps:
- task: UseDotNet@2
  inputs:
    version: $(dotnetVersion)
    includePreviewVersions: false

- task: PowerShell@2
  displayName: 'Install WiX Toolset build tools'
  inputs:
    targetType: 'inline'
    script: |
      dotnet tool install --global wix

- task: DotNetCoreCLI@2
  displayName: 'Restore NuGet packages'
  inputs:
    command: 'restore'
    projects: '**/PrintPlayset.slnx'

- task: VSBuild@1
  displayName: 'Build PrintPlayset solution (Visual Studio MSBuild)'
  inputs:
    solution: '**/PrintPlayset.slnx'
    vsVersion: 'latest'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
      
# - task: MSBuild@1
#   displayName: 'Build Setup with WiX Toolset'
#   inputs:
#     solution: '**/printplayetsetup.wixproj'
#     msbuildArchitecture: 'x64'
#     platform: '$(buildPlatform)'
#     configuration: '$(buildConfiguration)'

- task: CopyFiles@2
  displayName: 'Copy Setup to Artifact Staging'
  inputs:
    Contents: '**/bin/$(buildConfiguration)/**/*.*'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'
    flattenFolders: true

- task: PublishBuildArtifacts@1
  displayName: 'Publish Setup Artifact'
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'Setup'

- task: GithubRelease@1 
  displayName: 'Create GitHub Release'      
  inputs:
    gitHubConnection: MarcSchuermann
    repositoryName: MarcSchuermann/MTG-playset-printer
    tagSource: gitTag
    tag: $(Build.BuildNumber)      
    assets: |
      $(Build.ArtifactStagingDirectory)/*.exe
