<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="PrintPlayset" Language="1033" Version="1.0.0.0" Manufacturer="Marc Schuermann" UpgradeCode="2b840e5f-9501-4e3e-be35-ac879323d075">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="PrintPlaysetSetup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
         <ComponentGroupRef Id="ImageFileAssociations" />
      </Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="PrintPlaysetSetup" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>

      <!-- Application Files -->
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			 <Component Id="ProductComponentLancherExe">
             <File Source="D:\_gitHub\MarcSchuermann\MTG-playset-printer\PrintPlaysetLauncher\bin\Debug\net8.0\PrintPlaysetLauncher.exe" KeyPath="yes" />
          </Component>
         <Component Id="ProductComponentPrintPlayset">
            <File Source="D:\_gitHub\MarcSchuermann\MTG-playset-printer\PrintPlaysetLauncher\bin\Debug\net8.0\PrintPlayset.dll" />
         </Component>
         <Component Id="ProductComponentPrintPlaysetLauncher">
            <File Source="D:\_gitHub\MarcSchuermann\MTG-playset-printer\PrintPlaysetLauncher\bin\Debug\net8.0\PrintPlaysetLauncher.dll" />
         </Component>
         <!--<Component Id="ProductComponent">
            --><!--<File Source="D:\_gitHub\MarcSchuermann\MTG-playset-printer\PrintPlaysetLauncher\bin\Debug\net8.0\PrintPlayset.config" />--><!--
            --><!--<File Source="D:\_gitHub\MarcSchuermann\MTG-playset-printer\PrintPlaysetLauncher\bin\Debug\net8.0\PrintPlaysetLauncher.config"/>--><!--
         </Component>-->
      </ComponentGroup>

      <!-- File Associations -->
      <ComponentGroup Id="ImageFileAssociations" Directory="INSTALLFOLDER">

         <!-- PNG -->
         <Component Id="Assoc_PNG" Guid="7DA25DC4-E0D5-4D71-B005-5BF31DA8A6EB">
            <RegistryKey Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.png\shell\OpenWithMeineApp">
               <RegistryValue Value="Mit MeineApp oeffnen" Type="string" KeyPath="yes" />
               <RegistryKey Key="command">
                  <RegistryValue Value="&quot;[INSTALLFOLDER]MeineApp.exe&quot; &quot;%1&quot;" Type="string" />
               </RegistryKey>
            </RegistryKey>
         </Component>

         <!-- JPG -->
         <Component Id="Assoc_JPG" Guid="E5999999-C58D-4630-975B-C199F7FB43B8">
            <RegistryKey Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.jpg\shell\OpenWithMeineApp">
               <RegistryValue Value="Mit MeineApp oeffnen" Type="string" KeyPath="yes" />
               <RegistryKey Key="command">
                  <RegistryValue Value="&quot;[INSTALLFOLDER]MeineApp.exe&quot; &quot;%1&quot;" Type="string" />
               </RegistryKey>
            </RegistryKey>
         </Component>

         <!-- JPEG -->
         <Component Id="Assoc_JPEG" Guid="D6D76443-D63E-4CF3-A837-C0F3FD87FF44">
            <RegistryKey Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.jpeg\shell\OpenWithMeineApp">
               <RegistryValue Value="Mit MeineApp oeffnen" Type="string" KeyPath="yes" />
               <RegistryKey Key="command">
                  <RegistryValue Value="&quot;[INSTALLFOLDER]MeineApp.exe&quot; &quot;%1&quot;" Type="string" />
               </RegistryKey>
            </RegistryKey>
         </Component>

         <!-- BMP -->
         <Component Id="Assoc_BMP" Guid="7B7199BA-BD34-484A-AF51-C7DE7ECCF27C">
            <RegistryKey Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.bmp\shell\OpenWithMeineApp">
               <RegistryValue Value="Mit MeineApp oeffnen" Type="string" KeyPath="yes" />
               <RegistryKey Key="command">
                  <RegistryValue Value="&quot;[INSTALLFOLDER]MeineApp.exe&quot; &quot;%1&quot;" Type="string" />
               </RegistryKey>
            </RegistryKey>
         </Component>

         <!-- GIF -->
         <Component Id="Assoc_GIF" Guid="8C676211-1C27-4AA2-A540-5072205F20E7">
            <RegistryKey Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.gif\shell\OpenWithMeineApp">
               <RegistryValue Value="Mit MeineApp oeffnen" Type="string" KeyPath="yes" />
               <RegistryKey Key="command">
                  <RegistryValue Value="&quot;[INSTALLFOLDER]MeineApp.exe&quot; &quot;%1&quot;" Type="string" />
               </RegistryKey>
            </RegistryKey>
         </Component>

         <!-- TIFF -->
         <Component Id="Assoc_TIFF" Guid="62E5A74F-9FBA-497B-98FC-1F9576706542">
            <RegistryKey Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.tif\shell\OpenWithMeineApp">
               <RegistryValue Value="Mit MeineApp oeffnen" Type="string" KeyPath="yes" />
               <RegistryKey Key="command">
                  <RegistryValue Value="&quot;[INSTALLFOLDER]MeineApp.exe&quot; &quot;%1&quot;" Type="string" />
               </RegistryKey>
            </RegistryKey>
         </Component>

         <Component Id="Assoc_TIFF2" Guid="62FF263E-5384-49D5-A580-DE64820A432B">
            <RegistryKey Root="HKLM" Key="SOFTWARE\Classes\SystemFileAssociations\.tiff\shell\OpenWithMeineApp">
               <RegistryValue Value="Mit MeineApp oeffnen" Type="string" KeyPath="yes" />
               <RegistryKey Key="command">
                  <RegistryValue Value="&quot;[INSTALLFOLDER]MeineApp.exe&quot; &quot;%1&quot;" Type="string" />
               </RegistryKey>
            </RegistryKey>
         </Component>

      </ComponentGroup>


   </Fragment>
</Wix>
